{% extends 'wpsr/base.html' %}

{% block title %} Employee Main Page {% endblock %}

<!-- Local files-->
{% load static %}

{% block content %}

<style>
    p {
        
        border: 2px solid black;
        background-color: powderblue;
        padding: 20px;
        text-align: center;
        width: 400px;
        margin: 60px;
        font-family: verdana;
        font-size: 100%;
    }
    }
</style>

<p> View Incidents </p>
<p> View Investigations </p>
<p> View Lost Time Claims </p>
<p> Enter Incidents </p>
<p> Enter Lost Tima Claim </p>
<p> View Safety Analytics </p>
<p> Edit Personal Information </p>

{% endblock %}